{% extends "base.html" %}

{% block title %}Sobre Nós - Rádio Sem Jesus Não Dá{% endblock %}

{% block content %}
  <h2>Sobre Nós</h2>
  <p>A Rádio Sem Jesus Não Dá é uma emissora desenvolvida pela equipe de TI da Assembléia de Deus Sem Jesus Não Dá dedicada a levar a palavra de Deus e edificar vidas por meio da música e da mensagem cristã.</p>
  <p>Nossa missão é impactar corações e fortalecer a fé da nossa comunidade.</p>
  <h3>Equipe</h3>
  <ul>
    <li>Pastor Presidente: Marivaldo</li>
    <li>Pastor Local: Maciel Casemiro</li>
    <li>Desenvolvedor: Renan Teixeira</li>
    <li>Locutores</li>
    <li>Equipe técnica</li>
    <li>Renan Teixeira</li>
  </ul>
{% endblock %}
